<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="User" class="com.example.demo.aopdemo.UserImpl">
        <constructor-arg value="AS233"></constructor-arg>
    </bean>


    <bean id="MyUserAspect" class="com.example.demo.aopdemo.MyUserAspect"></bean>

    <aop:aspectj-autoproxy></aop:aspectj-autoproxy>
    <!--    <aop:config>-->
    <!--        <aop:pointcut id="save1" expression="execution(* com.example.demo.aopdemo.UserImpl.save(..))"/>-->


    <!--        <aop:aspect ref="MyUserAspect">-->
    <!--            <aop:before method="checkPri"   pointcut-ref="save1"></aop:before>-->

    <!--        </aop:aspect>-->
    <!--    </aop:config>-->

</beans>
